/*Google Font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*ALL HTML elements hav a default values for their "margin" and "padding" properties. Giving them the value of "0" makes it easier */

nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*Selector Combinator:  Type Selector or Class Selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding: 2rem 10% 3rem 10%;
	text-align: center;
}

.header {
	text-align: center;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem 1rem;
}

#succeed-info {
	padding: 2rem 10% 3rem 10%;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info .card {
	/*Inline-block allows the card to appear beside each other*/
	display: inline-block;
	/*Vertical align top allows our elements to be aligned at the top*/
	vertical-align: top;
	/*min-height allows for card to have height that adjust with the content*/
	min-height: 175px;
	/*use only 30% to avoid overflow and horizontal scrolling*/
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*ACTIVITY*/
#pre-footer {
	background-color: #002540;
	color: #fff;
}

#pre-footer div {
	display: inline-block;
	padding-top: 1rem;
	padding-bottom: 1rem;
	vertical-align: bottom;
}

#pre-footer h3, #pre-footer p {
	margin-left: 1rem;
	margin-right: 15rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}